<div class="sections new">
  <h2>Create New Section</h2>

  <%=	 form_for(:section, :url => {:action => 'create'}, :class => "section new") do |f| %>

      <%=	 render(:partial => 'form', :locals => {:f => f}) %>


      <div class="form-button">
        <%= submit_tag("Create") %>
      </div>

      <% end %>

</div>