<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="pages update">
  <h2>Create New page</h2>

  <%= form_for(:page, :url => {:action => 'update', :id => @page.id}) do |f| %>

      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-button">
        <%= submit_tag("Update Page") %>
      </div>
  <%	 end %>

</div>